html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Header */
header {
}


.top-icon {
    list-style: none;
    font-size: 32px;
}

.top-icon-wrap {
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: Myfont;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Myfont;
}

    
.navigation {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.navigation-wrapper {
    padding: 0 130px;
}

.searchtab {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 auto;
}

.logo-search-wrap {
    display: flex;
    align-items: flex-end;
    padding: 32px 48px;
    flex-wrap: wrap;
}

.logo-wrapper {
    max-width: 300px;
}

.searchtab-input {
    width: 700px;
    padding: 16px;
    border-radius: 32px;
}

.toptext {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.toptext {
    background-color: #0B3641;
}

.female-banner {
    background-image: url(../images/female-top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.male-banner {
    background-image: url(../images/male-top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.home-banner {
    background-image: url(../images/banner-photo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: #FF4E00;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.top-banner-text {
font-weight: bold;
font-size: 48px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background-color: rgba( 255, 255, 255, 0.4);
}

.female-banner-wrap {
    font-weight: bold;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-transform: uppercase;
}

.male-banner-wrap {
    font-weight: bold;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    text-transform: uppercase;
}

.male-banner-text {
    display: flex;
    justify-content: center;
    width: 40%;    
    margin: 20px;
    color: #ffffff;
}

.female-banner-text {
    display: flex;
    color: #FF4E00;
    margin: 20px;
}

.top-banner-text p {
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.cta-wrap {
    display: flex;
}

.cta-banner {
    padding: 15px;
    font-size: 1.5em;
    background-color: #0B3641;
    border-radius: 32px;
    margin: 0 24px;
}

.cta-button {
    color: #ffffff;
}
/* Main */

main {
    padding: 0 48px 48px 48px;
}

.male-top-specific-text {
    margin-left: 50px;
    margin-bottom: 50px;
}

.jacket-specific {
    height: 600px;
}

.product-specific-jacket-wrap {
    display: flex;
    justify-content: space-evenly;
}

label {
    font-weight: bold;
}

.product-specific-content-wrap {
    display: grid;
    grid-template-columns: auto 20%;
}

.product-content-wrap {
    display: grid;
    grid-template-columns: 15% auto;
    grid-column-gap: 20px;
}

.product-content-color-li {
    display: flex;
    align-items: center;
}

.product-content-cat {
    border-bottom: 2px solid #FF4E00;
    color: #FF4E00;
}

.product-content-filter ul {
    padding: 0;
    list-style: none;
}

.product-content-filter li {
    margin-bottom: 6px;
}

.product-specific-select {
    width: 200px;
    height: 25px;
}

.product-specific-cta {
    height: 50px;
    width: 200px;
    margin-top: 25px;
    background-color: #0B3641;
    color:white;
    font-weight: bold;
    font-size: 16px;
}

.product-specific-favorite-wrap {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.product-specific-heart {
    height: 20px;
}

.product-content-color {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    display: inline-block;
    margin-right: 6px;
}

.product-content-color--black {
    background: black;
}

.product-content-color--blue {
    background: blue;
}

.product-content-color--green {
    background: green;
}

.product-content-color--brown {
    background: brown;
}

.product-content-price {
    display: flex;
    flex-direction: column;
}

.product-content-price-text {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.jacket-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__image {
    max-height: 350px;
}

.product__price {
    font-weight: bold;
}

.product__desc {
    font-weight: bold;
}

.product-specific-information-wrap {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 25px;
    margin-top: 50px;
    background-color:whitesmoke;
    padding: 25px 10px;
}

.product-specific-h4 {
    font-weight: bold;
    font-size: 24px;
}

.product-specific-image-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product__image-specific {
    height: 200px;
}

.bottom-banner {
    background-image: url(../images/Camping\ Picture\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    color: #FF4E00;
    margin-top: 48px;
}

.bottom-banner-text {
    font-size: 48px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 48px;
}

.bottom-banner-h2 {
    margin: 25px 0 10px 0;
}

.bottom-banner-paragraph {
    margin: 0px;
    font-size: 72px;
    font-weight: bold;
}

.about-logo {
    background-image: url(../images/Logo.png);
    min-height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
}

.about-heading {
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-style: italic;
    margin: 50px;
}

.about-text {
    font-size: 24px;
    margin: 50px;
}

/* Footer */

footer {
    background-color: #0B3641;
    color: #ffffff;
}

.footer-text-box {
    margin-left: 25px;
}

.footer-box {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-link {
    list-style: none;
    padding: 0px;
    font-size: 24px;
}

a {
    color: #FF4E00;
    text-decoration: none;
}

@media only screen and (max-width: 1408px) {
    body {
    }

    .logo-search-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .searchtab-input {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .navigation-wrapper {
        padding: 0%;
    }

    .home-banner {
        min-height: 200px;
    }

    .top-banner-text {
        font-size: 36px;
    }
}

@media only screen and (max-width: 760px) {
   
    .logo-search-wrap {
        padding: 32px 16px;
    }

    .top-banner-text {
        font-size: 24px;
    }

    .searchtab {
        justify-content: center;
    }

    .top-icon-wrap {
        padding: 0;
    }

    .searchtab-input {
        width: 450px;
    }

    .footer-box {
        flex-wrap: nowrap;
    }

}